<h3 style="text-align: left; background-color: #e0e0e0; font-family:Times New Roman; color: black; padding: 14px; line-height: 1; border-radius:10px">Grouper les données</h3>

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Dataset_Employes.xlsx")
df

,id_salarié,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Ancienneté_an,Distance domicile/Travail,Service,Niveau de satisfaction,Type Contrat,Age
0,1,CDI,35,9894.7000,13,0.0,0.0,22.5,69,Technicien,60,Cadre,46
1,2,CDI,35,4296.7167,39,0.0,1.0,10.8,32,Technicien,39,Non Cadre,55
2,3,CDI,35,3705.2167,29,1.0,1.0,13.0,68,RH,62,Cadre,52
3,4,CDI,35,1697.1500,17,1.0,0.0,21.7,59,Technicien,98,Non Cadre,58
4,5,CDD,35,2848.3000,15,1.0,0.0,3.3,15,R&D,81,Non Cadre,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,252,CDI,35,7304.2667,17,1.0,0.0,7.9,59,Technicien,34,Cadre,41
250,253,CDI,35,8328.0167,14,1.0,0.0,10.2,59,Compta Finances,60,Cadre,51
251,254,CDI,32,8860.8000,19,1.0,1.0,11.9,65,RH,59,Cadre,48
252,255,CDI,24,4974.3200,32,0.0,1.0,11.8,31,Commercial,66,Cadre,65
253,256,CDD,35,6583.8500,13,1.0,1.0,12.6,59,Marketing,67,Cadre,56

In [3]:
# Grouper les données par 'Contrat' et calcul de la moyenne des salaires
grouped = df.groupby('Contrat')['Salaire base mensuel'].mean()
print(grouped)

Contrat
CDD    3640.687427
CDI    5483.995691
Name: Salaire base mensuel, dtype: float64

In [4]:
# Grouper les données par 'Contrat' ET pas 'Type de Contrat' et calcul de la moyenne des salaires
grouped = df.groupby(['Contrat', 'Type Contrat'])['Salaire base mensuel'].mean()
print(grouped)

Contrat  Type Contrat
CDD      Cadre           3726.421113
         Non Cadre       3456.972386
CDI      Cadre           5474.810059
         Non Cadre       5491.996080
Name: Salaire base mensuel, dtype: float64

In [5]:
# Appliquer plusieurs fonctions d'agrégation (médiane et moyenne)
agg_result = df.groupby(['Contrat', 'Type Contrat'])['Salaire base mensuel'].agg(['median', 'mean'])
print(agg_result)

                         median         mean
Contrat Type Contrat
CDD     Cadre         3033.3333  3726.421113
        Non Cadre     2558.6167  3456.972386
CDI     Cadre         5099.7917  5474.810059
        Non Cadre     5463.3150  5491.996080